<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_started.css') }}">
</head>
<body>
    {% if request.endpoint != 'auth.get_started' %}
    <header>
        <nav>
            <ul>
                {% if request.endpoint != 'auth.login' %}
                    <li><a href="{{ url_for('auth.login') }}">Member Login</a></li>
                {% endif %}
                {% if request.endpoint != 'auth.sign_up' %}
                    <li><a href="{{ url_for('auth.sign_up') }}">Member Signup</a></li>
                {% endif %}
                {% if request.endpoint != 'auth.admin_dashboard' %}
                    <li><a href="{{ url_for('auth.admin_dashboard') }}">Admin Dashboard</a></li>
                {% endif %}
                {% if request.endpoint != 'auth.about' %}
                    <li><a href="{{ url_for('auth.about') }}">About</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% if request.endpoint != 'auth.get_started' %}
    <footer>
        <p>&copy; 2023 Kanisa. All rights reserved.</p>
    </footer>
    {% endif %}
</body>
</html>
