{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Admin Activities</h2>
    <p>Welcome, {{ user.full_name }}! Choose an activity below:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('auth.add_member') }}">Add Member</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('auth.manage_members') }}">Manage Members</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('auth.add_event') }}">Add Event</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('auth.manage_events') }}">Manage Events</a>
        </li>
    </ul>
</div>
{% endblock %}
