{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome to DigiChurch</h2>
    <p>Choose an option below:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('views.view_events') }}">View Events</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('views.view_readings') }}">View Today's Readings</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('views.view_tomorrow_readings') }}">View Tomorrow's Readings</a>
        </li>
    </ul>
</div>
{% endblock %}