{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Readings</h2>
    {% if readings %}
        <ul class="list-group">
            {% for reading in readings %}
                <li class="list-group-item">
                    <h5>{{ reading.title }}</h5>
                    <p>{{ reading.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No readings available at the moment.</p>
    {% endif %}
</div>
{% endblock %}
